<!DOCTYPE html>
<html class="full" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, , maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <script src="https://use.fontawesome.com/cafb61558f.js"></script>

    <title>DeepHire House</title>
</head>

<body onload="request_scan()">

    <header>
        <h1>DeepHire 🏡</h1>
        <div id="settings">
            <i class="fa fa-lightbulb-o" aria-hidden="true" onclick="toggleTheme()"></i>
        </div>
    </header>
    
    <main>
        
        <div id="who-is-home" class="info-card">
            <div class="info-card-header">
                <h2>Who's home?</h2>
                <button class="small-link" onclick="request_scan()">Refresh</button>
            </div>
            <div class="info-card-content">
                <ul>
                    <li id="russell-home">-</li>
                    <li id="steve-home">-</li>
                    <li id="nick-home">-</li>
                </ul>

                <div class="overlay hidden">
                    <h3 class="overlay-title">Loading...</h3>
                    <h4 class="overlay-message">Just a moment please.</h4>
                </div>
            </div>
        </div>

        <div id="holiday" class="info-card">
            <div class="info-card-content">
                <h2 id="holiday-month"></h2>
                <h3 id="holiday-date"></h3>
                <h4 id="holiday-title"></h4>
            </div>
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.min.js"></script>
    <script src="https://chriszarate.github.io/sheetrock/dist/sheetrock.min.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/whoIsHome.js"></script>
    <script src="../static/js/shoppingList.js"></script>

</body>

</html>
