<!DOCTYPE html>
<html class="full" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="../static/css/main.css">

    <title>DeepHire House</title>
</head>

<body onload="request_scan();">

    <header>
        <h1>DeepHire 🏡</h1>
    </header>
    
    <main>
        
        <div id="who-is-home" class="info-card">
            <h2>Who's home?</h2>
            <button class="small-link" onclick="request_scan()">Refresh</button>
            <div class="info-card-content">
                <ul>
                    <li id="russell-home">Russell</li>
                    <li id="steve-home">Steve</li>
                    <li id="nick-home">Nick</li>
                </ul>

                <div class="error-overlay hidden">
                    <h3>Sorry!</h3>
                    <h4>Something's not right.</h4>
                    <button class="small-link" onclick="request_scan()">Refresh</button>
                </div>
            </div>
        </div>
    </main>

    <!-- Navigation -->

    <div class="row">

        <div class="col-xs-2 col-md-5">
        </div>
        <div class="col-xs-8 col-md-2" id="1">
        </div>
        <div class="col-md-5 col-xs-2">
        </div>
    </div>



    <div class="row">

        <div class="col-xs-2 col-md-5">
        </div>
        <div class="col-xs-8 col-md-2" id="2">
        </div>
        <div class="col-xs-2 col-md-5">
        </div>
    </div>




    <div class="row">

        <div class="col-xs-2 col-md-5">
        </div>
        <div class="col-md-2 col-xs-8" id="3">
        </div>
        <div class="col-xs-2 col-md-5">
        </div>
    </div>


    <div class="row">

        <div class="col-xs-2 col-md-5">
        </div>
        <div class="col-md-2 col-xs-8" id="5">
        </div>
        <div class="col-xs-2 col-md-5">
        </div>
    </div>


    <!-- Page Content -->
    <!--<div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h1>The Big Picture</h1>
                <p>Russell Status</p>
            </div>
        </div>
    </div> -->
    <!-- /.row -->

    <!-- /.container -->
    <script src="../static/js/main.js"></script>

</body>

</html>
